<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="coluna" style="background: url(https://www.hardware.com.br/static/c/m/e5e93d09ec38a17e69875a028a2ba719);">
                <a href="">
                    novos
                </a>
            </div>            
        </div>
        <div class="col-3">
            <div class="coluna" style="background: url(https://www.hardware.com.br/static/c/m/e5e93d09ec38a17e69875a028a2ba719);">
                <a href="">
                    novos
                </a>
            </div>           
        </div>
        <div class="col-3">
            <div class="coluna" style="background: url(https://www.hardware.com.br/static/c/m/e5e93d09ec38a17e69875a028a2ba719);">
                <a href="">
                    novos
                </a>
            </div>           
        </div>
        <div class="col-3">
            <div class="coluna" style="background: url(https://www.hardware.com.br/static/c/m/e5e93d09ec38a17e69875a028a2ba719);">
                <a href="">
                    novos
                </a>
            </div>           
        </div>

        <!--NOVOS-->
        <div class="col-3">
            <div class="coluna coluna-1" style="background: url(https://www.hardware.com.br/static/c/m/e5e93d09ec38a17e69875a028a2ba719);">
                <a href="">
                    novos
                </a>
            </div>            
        </div>
        <div class="col-3">
            <div class="coluna coluna-1" style="background: url(https://www.hardware.com.br/static/c/m/e5e93d09ec38a17e69875a028a2ba719);">
                <a href="">
                    novos
                </a>
            </div>           
        </div>
        <div class="col-3">
            <div class="coluna coluna-1" style="background: url(https://www.hardware.com.br/static/c/m/e5e93d09ec38a17e69875a028a2ba719);">
                <a href="">
                    novos
                </a>
            </div>           
        </div>
        <div class="col-3">
            <div class="coluna coluna-1" style="background: url(https://www.hardware.com.br/static/c/m/e5e93d09ec38a17e69875a028a2ba719);">
                <a href="">
                    novos
                </a>
            </div>           
        </div>
    </div>
</div>






