<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="coluna masseurs-box" style="background: url('../../../../assets/images/massagistas/ms-1-default.jpg');">
                <a href="">
                    novos
                </a>
            </div>            
        </div>
        <div class="col-3">
            <div class="coluna masseurs-box" style="background: url('../../../../assets/images/massagistas/ms-2-default.jfif');">
                <a href="">
                    novos
                </a>
            </div>           
        </div>
        <div class="col-3">
            <div class="coluna masseurs-box" style="background: url('../../../../assets/images/massagistas/ms-1-default.jpg');">
                <a href="">
                    novos
                </a>
            </div>           
        </div>
        <div class="col-3">
            <div class="coluna masseurs-box" style="background: url('../../../../assets/images/massagistas/ms-3-default.jfif');">
                <a href="">
                    novos
                </a>
            </div>           
        </div>
        </div>

        <!--NOVOS-->
        
    <div class="row" style="margin-top: 20px;">
        <div class="col-3">
            <div class="coluna masseurs-box" style="background: url('../../../../assets/images/massagistas/ms-1-default.jpg');">
                <a href="">
                    novos
                </a>
            </div>            
        </div>
        <div class="col-3">
            <div class="coluna masseurs-box" style="background: url('../../../../assets/images/massagistas/ms-2-default.jfif');">
                <a href="">
                    novos
                </a>
            </div>           
        </div>
        <div class="col-3">
            <div class="coluna masseurs-box" style="background: url('../../../../assets/images/massagistas/ms-1-default.jpg');">
                <a href="">
                    novos
                </a>
            </div>           
        </div>
        <div class="col-3">
            <div class="coluna masseurs-box" style="background: url('../../../../assets/images/massagistas/ms-3-default.jfif');">
                <a href="">
                    novos
                </a>
            </div>           
        </div>
    </div>
</div>






