<div class="container-full container-full-header">


  <div class="container">
    <div  id="nav-container" class="">
      <nav class="navbar navbar-expand-lg  d-flex  justify-content-between">
        <a href="#" class="navbar-brand">
          <img id="logo" src="../assets/images/logotipo.png" alt="BelaMassagem"> 
        </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links"
   aria-expanded="false" arial-label="toggle navigation">
    <span class="navbar-toggler-icon"></span>
  
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
      <div class="navbar-nav">
          <a class="nav-item nav-link" id="home-menu">Home</a>
          <a class="nav-item nav-link" id="services-menu">Categoria</a>
          <a class="nav-item nav-link" id="team-menu">Massagistas</a>
          <a class="nav-item nav-link" id="contact-menu">Contato</a>
      </div>
    </div>
  </nav>
  </div>  
  </div>

</div>
