<!-- Footer -->
<footer id="geral" class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
     
      <!-- direita -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- direita -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
             <div class="img">
                 <img src="../../../../assets/images/imghelptask.jpg">  <!--IMAGEM DA HELPTASK-->
             </div>
            </h6>
            <div class="description">
            <p>
              Helptask é uma empresa criativa que trabalha com consultoria em projetos e desenvolvimento de projetos em TI.
            </p>
          </div>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto"> <!--Para diferentes resoluçoes de telas-->
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              O que fazemos?
            </h6>
            <p>
              <a href="#!" class="text-reset">Consultoria em Projetos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Metodologias ágeis</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Scrum</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Desenvolvimento de sistemas</a>
            </p>
            <p>
                <a href="#!" class="text-reset">Aplicativos multiplataforma</a>
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Sobre nós
            </h6>
            <p>
              <a href="#!" class="text-reset">Serviços</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Quem somo?</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contato
            </h6>
            <p><i class="fas fa-home me-3"></i>Rua fulano de tal</p>  <!-- A tag i serve para destacar alguma parte do texto-->
            <p>
              <i class="fas fa-envelope me-3"></i>
              contato@helptask.com.br
            </p>
            <p><i class="fas fa-print me-3"></i>(11)9.7290.8425</p>
            <div class="socials"> <!--Redes sociais-->
              <a href="">
                <img class="img" src="../../../../assets/images/instagram.png">
              </a>
                <a href="">
                  <img class="img2" src="../../../../assets/images/facebook.jpg">
                </a>
                <a href="">
                  <img class="img3" src="../../../../assets/images/twitter.png">
                </a>  
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="site" href="https://mdbootstrap.com/">https://www.helptask.com.br/</a>
    </div>
    <!-- Copyright Do sITE  -->
  </footer>
  <!-- Footer FINAL -->
  
