.text-center{
    font-size: 10px;
}
.img{
    width: 30px;
    height: 30px;
}
.img2{
    width: 20px;
    height: 20px;
}
.img3{
    width: 30px;
    height:30px;
}

#geral{
    padding-top: 80px;
}