.container-full{

    &__contact{
        background: #154276;
        padding: 5% 0;
        margin-top: 250px;
        color:#000
    }

}
.mb-3, 
.mb-4,
.mb-5,
.mb-6 {
    margin:10px;
    padding-top:10px;
}
.button{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}
.contato{
    font-size:50px;
    color:rgb(35, 36, 43);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 100PX;
}
.form-control{
    border-radius: 50px;
}


.mb-3, img{
    width: 70%;
}
.mb-4 {
    width: 65%;
}
.mb-5 {
    width: 60%;
}
.mb-6{
    width: 55%;
}
.btn-primary {
    border: 3px solid #666;
}
.photo{
    align-items: center;
    width: 500px;
}

.img{
    width: 300px;
    height: 200px;
}