<!-- <div class="contato"> 
    CONTACT
</div> -->
<div class="container-full container-full__contact">
  <div class="container">
    
<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Nome Completo</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="sem abreviações">
  </div>
  
  <div class="mb-4">
    <label for="formGroupExampleInput2" class="form-label"> e- mail </label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ex:gabrielvsr@gmail.com">
  </div>
  <div class="mb-5">
    <label for="formGroupExampleInput2" class="form-label">plano</label>
    <input type="text" maxlength="13" class="form-control" id="formGroupExampleInput3" placeholder="Plano de preferencia">
  </div>
  <div class="mb-6">
    <label for="formGroupExampleInput2" class="form-label">celular</label>
    <input type="number" class="form-control" id="formGroupExampleInput3" placeholder="Ex: (11) 97449-7473">
  </div>
  <div class="photo">
    <label for="formFileMultiple" class="form-label">Insira uma foto para ficar visivel a todos após a confirmaçao dos dados
    </label>
    <input class="form-control" type="file" id="formFileMultiple" multiple>
  </div>
  <div class="button">
      <button type="button" class="btn-primary btn-lg">Enviar</button>
  </div>
  
  
</div>
</div>






