
.titulo {
    font-size: 60px;
    text-align: center;
    font-family: 'Montserrat Alternates';
    padding-top: 120px;
}
.row{
    padding-top: 100px;
}
.coluna{
    height: 460px;
    display: flex;    
    background-size: 100% cover;
    border: 1px solid #B6DDE4;
}
.coluna a{
    background: #B6DDE4;
    padding: 0 5px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


